<% provide(:title, "Log in") %>
<div id="login-form "><h1 class="title">Ingresar</h1></div>

<div class="row">
    <div class="col-md-2 col-md-offset-3"></div>
  <div class="col-md-8 col-md-offset-3 card  cardform">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
       <br>
      <%= f.submit "Log in", class: "form-control btn btn-primary" %>
    <% end %>

    <p   >New user?<a href="#" class="btn a-link" data-toggle="modal" data-target="#CreateUsers" >Crear Cuenta</a></p>
  </div>
  <div class="col-md-2 col-md-offset-3"></div>
</div>
<%= render 'modal-form/users_login' %>



