<%= form_with(model: menu, local: true) do |form| %>
  <% if menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
        <% menu.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :options %>
    <%= form.text_field :options %>
  </div>

  <div class="field">
    <%= form.label :id_users %>
    <%= form.number_field :id_users %>
  </div>

  <div class="field">
    <%= form.label :relacion %>
    <%= form.text_field :relacion %>
  </div>

  <div class="field">
    <%= form.label :Users %>
    <%= form.text_field :Users %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
