<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @menu.name %>
</p>

<p>
  <strong>Options:</strong>
  <%= @menu.options %>
</p>

<p>
  <strong>Id users:</strong>
  <%= @menu.id_users %>
</p>

<p>
  <strong>Relacion:</strong>
  <%= @menu.relacion %>
</p>

<p>
  <strong>Users:</strong>
  <%= @menu.Users %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
