<%= form_with(model: proveedore, local: true) do |form| %>
  <% if proveedore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(proveedore.errors.count, "error") %> prohibited this proveedore from being saved:</h2>

      <ul>
        <% proveedore.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre_empresa %>
    <%= form.text_field :nombre_empresa %>
  </div>

  <div class="field">
    <%= form.label :telefono_empresa %>
    <%= form.text_field :telefono_empresa %>
  </div>

  <div class="field">
    <%= form.label :correo_empresa %>
    <%= form.text_field :correo_empresa %>
  </div>

  <div class="field">
    <%= form.label :nombre_contacto %>
    <%= form.text_field :nombre_contacto %>
  </div>

  <div class="field">
    <%= form.label :telefono_contacto %>
    <%= form.text_field :telefono_contacto %>
  </div>

  <div class="field">
    <%= form.label :correo_contacto %>
    <%= form.text_field :correo_contacto %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
