<p id="notice"><%= notice %></p>

<h1>Proveedores</h1>

<table>
  <thead>
    <tr>
      <th>Nombre empresa</th>
      <th>Telefono empresa</th>
      <th>Correo empresa</th>
      <th>Nombre contacto</th>
      <th>Telefono contacto</th>
      <th>Correo contacto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proveedores.each do |proveedore| %>
      <tr>
        <td><%= proveedore.nombre_empresa %></td>
        <td><%= proveedore.telefono_empresa %></td>
        <td><%= proveedore.correo_empresa %></td>
        <td><%= proveedore.nombre_contacto %></td>
        <td><%= proveedore.telefono_contacto %></td>
        <td><%= proveedore.correo_contacto %></td>
        <td><%= link_to 'Show', proveedore %></td>
        <td><%= link_to 'Edit', edit_proveedore_path(proveedore) %></td>
        <td><%= link_to 'Destroy', proveedore, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proveedore', new_proveedore_path %>
