<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre empresa:</strong>
  <%= @proveedore.nombre_empresa %>
</p>

<p>
  <strong>Telefono empresa:</strong>
  <%= @proveedore.telefono_empresa %>
</p>

<p>
  <strong>Correo empresa:</strong>
  <%= @proveedore.correo_empresa %>
</p>

<p>
  <strong>Nombre contacto:</strong>
  <%= @proveedore.nombre_contacto %>
</p>

<p>
  <strong>Telefono contacto:</strong>
  <%= @proveedore.telefono_contacto %>
</p>

<p>
  <strong>Correo contacto:</strong>
  <%= @proveedore.correo_contacto %>
</p>

<%= link_to 'Edit', edit_proveedore_path(@proveedore) %> |
<%= link_to 'Back', proveedores_path %>
