
    <div class="row" >
        <div class="col-md-1 col-md-offset-3"></div>
<div class="col-md-10 col-md-offset-3 card cardform">
<%= form_with(model: cotizador, local: true) do |form| %>
  <% if cotizador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cotizador.errors.count, "error") %> prohibited this cotizador from being saved:</h2>

      <ul>
        <% cotizador.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre_completo %>
    <%= form.text_field :nombre_cliente , class: 'form-control'%>
  </div>

  <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email , class: 'form-control'%>
    </div>
  
    <div class="field">
      <%= form.label :telefono %>
      <%= form.text_field :telefono , class: 'form-control'%>
    </div>
  
    <div class="field">
      <%= form.label :direccion %>
      <%= form.text_field :direccion , class: 'form-control'%>
    </div>

  <div class="field">
    <%= form.label :servicios %>
      <%= form.select( :servisios , ServiciosClick.all.collect { |s| [ s.nombre , s.id ] },  { class: "form-control"} ) %>
  </div>

  <div class="field">
    <%= form.label :comentario %>
    <%= form.text_area :comentario , class: 'form-control'%>
  </div>

 <br/>
<br/>
  <div class="actions">
    <%= form.submit "Solisita Tu cotizacion de imedato", class: "form-control btn btn-primary" %>
  </div>
<% end %>
<br>
</div>
<div class="col-md-1 col-md-offset-3"></div>
</div>
