<p id="notice"><%= notice %></p>

<h1>Cotizadors</h1>

<table  class="table">
  <thead class="thead-dark">
    <tr>
      <th>Nombre cliente</th>
      <th>Servisios</th>
      <th>Comentario</th>
      <th>Email</th>
      <th>Telefono</th>
      <th>Direccion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cotizadors.each do |cotizador| %>
      <tr>
        <td><%= cotizador.nombre_cliente %></td>
        <td><%= cotizador.servisios %></td>
        <td><%= cotizador.comentario %></td>
        <td><%= cotizador.email %></td>
        <td><%= cotizador.telefono %></td>
        <td><%= cotizador.direccion %></td>
        <td><%= link_to 'Show', cotizador %></td>
        <td><%= link_to 'Edit', edit_cotizador_path(cotizador) %></td>
        <td><%= link_to 'Destroy', cotizador, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cotizador', new_cotizador_path %>
