<h1 class="title">Cotiza tu proyecto a qui.</h1>

<%= render 'form', cotizador: @cotizador %>
<% if logged_in? %>  
<%= link_to 'Back', cotizadors_path %>
<% else %>
<%= link_to 'Back', login_url %>
<% end %>