<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre cliente:</strong>
  <%= @cotizador.nombre_cliente %>
</p>

<p>
  <strong>Servisios:</strong>
  <%= @cotizador.servisios %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @cotizador.comentario %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cotizador.email %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @cotizador.telefono %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @cotizador.direccion %>
</p>

<%= link_to 'Edit', edit_cotizador_path(@cotizador) %> |
<%= link_to 'Back', cotizadors_path %>
