<%= form_with(model: servicios_click, local: true) do |form| %>
  <% if servicios_click.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(servicios_click.errors.count, "error") %> prohibited this servicios_click from being saved:</h2>

      <ul>
        <% servicios_click.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion %>
  </div>

  <div class="field">
    <%= form.label :url_imagen %>
    <%= form.text_field :url_imagen %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
