<p id="notice"><%= notice %></p>

<h1>Servicios Clicks</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Url imagen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @servicios_clicks.each do |servicios_click| %>
      <tr>
        <td><%= servicios_click.nombre %></td>
        <td><%= servicios_click.descripcion %></td>
        <td><%= servicios_click.url_imagen %></td>
        <td><%= link_to 'Show', servicios_click %></td>
        <td><%= link_to 'Edit', edit_servicios_click_path(servicios_click) %></td>
        <td><%= link_to 'Destroy', servicios_click, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Servicios Click', new_servicios_click_path %>
