<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @servicios_click.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @servicios_click.descripcion %>
</p>

<p>
  <strong>Url imagen:</strong>
  <%= @servicios_click.url_imagen %>
</p>

<%= link_to 'Edit', edit_servicios_click_path(@servicios_click) %> |
<%= link_to 'Back', servicios_clicks_path %>
