<div id="form-users-edit-create"><% provide(:title, 'Sign up') %></div>
<h1 class="title">Crea tu usuario</h1>

<div class="row" >
  <div class="col-md-1 col-md-offset-3"></div>
  <div class="col-md-10 col-md-offset-3 card cardform">
  
      <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
  <br/>
      <%= f.submit "Crear cuenta", class: "form-control btn btn-primary" %>
   
      <% end %>
<br/>
  </div>
  <div class="col-md-1 col-md-offset-3"></div>
</div>