<% provide(:title, @user.email) %>
<!-- <div class="row">
  <aside class="col-md-8">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %><br/>
        <%= @user.email %>
       
       
      </h1>
    </section>
  </aside>
</div> -->
<div class="media">
   <%=   gravatar_for @user %>
  <div class="media-body">
    <h5 class="mt-0">Name:<%= @user.name %> Mail:<%= @user.email %></h5>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
  </div>
</div>  
<%= link_to 'Back', users_path %>