<%= form_with(model: empresa, local: true) do |form| %>
  <% if empresa.errors.any? %>
    <div id="error_explanation">
      <h2 class="title"><%= pluralize(empresa.errors.count, "error") %> prohibited this empresa from being saved:</h2>

      <ul>
        <% empresa.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control'%>
  </div>

  <div class="field">
    <%= form.label :mail %>
    <%= form.email_field :mail , class: 'form-control'%>
  </div>

  <div class="field">
    <%= form.label :typo %>
    <%= form.number_field :typo, class: 'form-control'%>
  </div>

  <div class="field">
    <%= form.label :razon_social %>
    <%= form.text_field :razon_social, class: 'form-control'%>
  </div>

  <div class="field">
    <%= form.label :telefono %>
    <%= form.number_field :telefono, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_field :direccion , class: 'form-control'%>
  </div>

  <div class="actions">
    <%= form.submit "crear empresa", class: "form-control btn btn-primary" %>
  </div>
<% end %>
