@import "bootstrap/scss/bootstrap";
@import 'antd/dist/antd';
@use "@material/animation";
// @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
.title{
  text-align: center;
  margin: 25px;
  color: rgb(25, 111, 180) !important;
}

//pie de pagina click 
// .footerclick{
// background-color:#369;
// position: relative;
// // position: absolute;
// text-align: center;
// bottom: 0;
// width: 100%;
// height: 100%;
// color: white;
// opacity: 0.5;
// border-top: 1px solid #369; 
// }
// //evento 
// .footerclick:hover{
//   background-color:#477cb1bd;
// //   position: relative;
// //   // align-content: end;
// // text-align: cen;
// //   bottom: 0;
// //   width: 100%;
// //   height:100%;
// //   color: white;
// //   opacity: 0.5;
// //   border-top: 1px solid #369; 
//   }

$color-gr: #007b5e;
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: $color-gr;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer{
    background: $color-gr !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
 #logo-conten{
      position: relative;
      top: -6px;
   }

}

//fin footer
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    
  }
}

#login-form{
  text-align: center !important;
  margin-block: 12%;
  color: #eaeaea;
  
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  //  @extend .has-error;
  .form-control {
    color:rgb(207, 109, 109);
  }
}

.input-selet{
  width: 200px;
  border-color: #fff
}

//form login estyle

.cardform{
  opacity: 0.8;
  background-color: #000601f5;
  // text-align: center;
  color: white;
  text-size-adjust: 45px;
  border: 6px solid rgba(0, 0, 0, 0.32) !important;
}

.a-link {
  color: brown !important;
}


.a-link-sup {
  color: #fff !important;
}

.menu-one{
  background-color:rgba(9, 7, 127, 0.88);;
  color: #eceaea;
  height: 103px;
  position: fixed;
  z-index: 3;
  left: -2px;
}

#logo-conten{
  border-right: 3px solid #fff;
  background: #229b4c7c;
  height: 115%;
  animation: mymove;
  animation-duration: 1s;
  margin-left: -12px;
  margin-right: 23px;
#logo-style{
  margin: 24px;
  color: #fff;
  font-size: 26px;
}
}

.sinta-tecnologias{
  background: -moz-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 27%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
  animation: sintaAnimation infinite;
  animation-duration: 1s;
  margin: 4px;
  padding: 2px;
  border: 3px solid;
}

@keyframes mymove {
  from {background: #04f3a05c;
        left: -203px;
       }
  to {background: #24f5ac5c;
     left: -5px;
     }
}


@keyframes sintaAnimation {
  from {
     
        height: 34px;
        left: -203px;
       }
  to {
      height: 34px;
      left: 2px;
     }
}

.icon-click{
  color: #fafafb;
  color: #fafafb;
  position: relative;
  padding: 11px;
  top: 2px;
  left: -15px;
  height: 14px;
  width: 53px;
  font-size: 53px;

}

.header-class{
  margin-bottom: 23px;
}


.conten-initial{
  margin-top: 103px;
}

.menu-Inicial{
  margin-top: 103px;
}

.btn-menu{
  margin-right: 23px;
}

//media querys.
@media (max-width:320px){
  #logo-conten{
    background: #1042857c;
    top:-8%;
}
}

#carouselExampleIndicators{
  background: #05116d1e;
    margin-top: 76px;
    scroll-behavior: auto;
}