// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-pages{
   margin-top: 114px !important;
    border: solid;
    z-index: 1;
  }
  