
<nav class="navbar navbar-expand-lg navbar-light menu-one mdc-menu-surface" >
<div id="logo-conten">
 <a class="navbar-brand" href="/">
   <h1 id="logo-style"><span class="mdc-fab__icon material-icons icon-click">touch_app</span>CLICK-Innovación</h1>
 </a>
</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->
       
        <% if logged_in? %>
        <li><%= link_to "Proveedores", '/proveedores/', class:"nav-link a-link-sup " %></li>
        <li><%= link_to "Profile", current_user, class:"nav-link a-link-sup " %></li>
        <li><%= link_to "Settings", '#', class:"nav-link a-link-sup " %></li>
        <li class="divider"></li>
      <% else %>
        <span>
         <button type="button"  class="btn btn-danger btn-lg btn-menu"  data-toggle="modal" data-target="#exampleModal">Proyectos.</button>
           <span>
          <button type="button"  class="btn btn-danger btn-lg btn-menu"  data-toggle="modal" data-target="#exampleModal">Laboratorios. </button>
       <span>
        <button type="button"  class="btn btn-danger btn-lg btn-menu"  data-toggle="modal" data-target="#exampleModal">Servicios </button>
       
     
      <% end %>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
      </ul>
      <% if logged_in? %>  
      <ul class="navbar-nav mr-auto  my-2 my-lg-0">
      <li>
        <%= link_to "Log out", logout_path, method: "Get", class: "a-link-sup  nav-link" %>
      </li>
      <% else %>
          <%= link_to "Login", login_path, class: "nav-link a-link-sup "  %>
        <span>
    
      <% end %>
       
      </ul>
    </div>
  </nav>
<div class="row">
   <div class="col-1"><span class="mdc-fab__icon material-icons">android</span></div>
   <div class="col-1"><span class="mdc-fab__icon material-icons">shopping_cart</span></div>
   <div class="col-1"><span class="mdc-fab__icon material-icons">timeline</span></div>
   <div class="col-1"><span class="mdc-fab__icon material-icons">wb_cloudy</span></div>
   <div class="col-1"><span class="mdc-fab__icon material-icons">vpn_key</span></div>
   <div class="col-1"><span class="mdc-fab__icon material-icons">textsms</span></div>
   <div class="col-1"><span class="mdc-fab__icon material-icons">fingerprint</span></div>
   <div class="col-1"><span class="mdc-fab__icon material-icons">bug_report</span></div>
   <div class="col-1"><span class="mdc-fab__icon material-icons">payment</span></div>
   <div class="col-1"><span class="mdc-fab__icon material-icons">settings_ethernet</span></div>
   <div class="col-1"><span class="mdc-fab__icon material-icons">stars</span></div>
   <div class="col-1"><span class="mdc-fab__icon material-icons">today</span></div>
</div>
 <% if logged_in? %>  
   <h1>
    Bienbenido A CLICK Innovación.
   </h1>
  <% else %>
    <%= render '/carrusel/carrusel' %>
  <% end %>