<!DOCTYPE html>
<html>
  <head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HerokuPrueb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all',  'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
  
  <body>
     <div>
       
     </div>
           <div class="row">
            <div class="col-12 header-class">
            <%= render 'layouts/header' %>
            </div>
            <div class="col-2 menu-Inicial">
                <% if logged_in? %>  
              <ul class="list-group">
                  <li class="list-group-item active"><a href="/" class="nav-link">Home </li>
                <li class="list-group-item"><a href="/proveedores" class="nav-link"><svg id="i-bag" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                  <path d="M5 9 L5 29 27 29 27 9 Z M10 9 C10 9 10 3 16 3 22 3 22 9 22 9" />
              </svg>->PROVEEDORES</a></li>
                <li class="list-group-item"><a href="/productos"><svg id="i-tag" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                  <circle cx="24" cy="8" r="2" />
                  <path d="M2 18 L18 2 30 2 30 14 14 30 Z" />
              </svg> ->PRODUCTOS</a></li>
              <li class="list-group-item nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </div>
                </li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
            <% end %>
            </div>
            <div class="col-9 conten-initial">
                <div class="row ">
                    <div class="col-8">
                        <% flash.each do |message_type, message| %>
                        <div class="alert alert-<%= message_type %>"><%= message %></div>
                        <% end %>
                      </div>
                      </div>
              
              <%= yield %>
            </div>
           <!-- <%= debug(params) if Rails.env.development? %>-->
          </div>
        

      <%= render 'layouts/footer' %>
  </body>
</html>
